#assortment {
  padding-top: 15px;
}

.assortment__items {
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.assortment__head {
  position: relative;
  text-align: center;
}

.assortment__handle {
  position: absolute;
  padding: 0 7px;
  top: -10px;
  right: -18px;
}

.gear {
  width: 40px;
}

.assortment__slide-block {
  position: absolute;
  opacity: 0;
  top: 10px;
  right: -20px;
  width: 0;
  height: 382px;
  z-index: 11;
  background-color: #f3f3f3;
  box-shadow: -2px -2px #fff,
  2px  2px #d9d9d9;
}

.assortment__container-slide {
  padding: 10px 0;
  font-size: 12px;

  & > picture {
    display: none;
  }
}

.assortment__table {
  margin-bottom: 40px;
  width: 100%;
  text-align: left;
  display: none;

  & tr:nth-child(odd) {
    background: #E6E6E6;
  }

  & tr {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    line-height: 25px;

    &:hover {
      color: #fff;
      background: $primary__black;
    }
  }

  & ul {
    list-style-type: disc;
  }
}

.assortment__item {
  position: relative;
  margin-bottom: 40px;
  padding: 10px 10px 30px;
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 382px;
  background-color: #f3f3f3;
  box-shadow: -2px -2px #fff,
  2px  2px #d9d9d9;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 0 30px 10px #d9d9d9;
    transform: scale(1.1);
  }
}

.assortment__handle-wrapper:hover .assortment__slide-block {
  top: -10px;
  width: 280px;
  left: -10px;
  opacity: 1;
  box-shadow: 0 0 10px 4px #d9d9d9;
  transition-property: top, opacity;
  transition-duration: 0.5s;
}

.assortment__handle-wrapper:hover .assortment__table {
  display: table;
}

.assortment__handle-wrapper:hover .assortment__container-slide > picture {
  display: block;
}

.assortment__item-name {
  align-self: center;
  font-size: 22px;
}

.assortment__item-img {
  width: 260px;

  &--slide {
    width: 260px;
  }
}

.assortment__price {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 20px;
  align-self: center;

  &--color {
    font-size: 26px;
    font-weight: bold;
  }
}

.assortment__price-icon {
  padding-left: 5px;

  &::before {
    display: inline-block;
    vertical-align: top;
    content: '';
    width: 15px;
    height: 20px;
    background: url('../img/rub.svg') no-repeat center;
  }
}
