.background-tooltips {
  display: none;
}

.block-tooltips {
  margin: 20px 0 0 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.tooltip-toggle {
  display: none;
}

.tooltip-content {
  margin-bottom: 20px;
}

.tooltip-title {
  margin: 0;
  padding: 10px 10px;
  font-weight: normal;
  background: #fff;
  border-radius: 4px;
  font-size: 18px;
  line-height: 18px;
}

.tooltip-text {
  margin: 0;
  padding: 10px 10px;
  font-weight: 100;
  color: #778aa0;
  font-size: 17px;
  line-height: 17px;

}

@media (min-width: 768px) {
  .background-tooltips {
    display: block;
    width: 100%;
  }

  .block-tooltips {
    margin: 0;
    top: 0;
  }

  .tooltip {
    position: absolute;
  }

  .tooltip-toggle {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ff4f59;
    cursor: pointer;

    &::after {
      position: absolute;
      top: -6px;
      left: -6px;
      content: "";
      width: 24px;
      height: 24px;
      border: 2px solid #ff4f59;
      border-radius: 50%;
      transition: all 0.3s;
    }

    &:hover::after {
      transform: scale(1.2);
      opacity: 0.6;
    }
  }

  .tooltip-content {
    margin-bottom: 0;
    position: absolute;
    top: -9px;
    left: 38px;
    width: 260px;
    display: block;
    opacity: 0;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transform: translate3d(-10px, 0, 0);
    transition: all 0.3s;
    pointer-events: none;
    z-index: 100;

    &::before {
      position: absolute;
      content: "";
      width: 14px;
      height: 14px;
      background-color: #fff;
      transform: rotate(45deg);
      top: 10px;
      left: -6px;
      border-radius: 2px;
    }

    &--left {
      left: -284px;
      text-align: right;

      &::before {
        position: absolute;
        content: "";
        width: 14px;
        height: 14px;
        background-color: #fff;
        transform: rotate(45deg);
        top: 10px;
        left: 252px;
        border-radius: 2px;
      }
    }
  }

  .tooltip-toggle:hover + .tooltip-content {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    cursor: pointer;
  }

  .tooltip-title {
    padding: 10px 14px;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
  }

  .tooltip-text {
    padding: 10px 14px;
    background-color: #f9f9f9;
    border-radius: 0 0 2px 2px;
    font-size: 15px;
    line-height: 15px;
  }
}
