.close-modal {
  position: absolute;
  display: none;
}

.button-form-callback {
  margin-right: 39px;
  margin-bottom: 20px;
  width: 87px;
  height: 26px;
  align-self: flex-end;
  font: 16px/24px Cuprum;
  color: #ecf0f1;
  background: #7f8c8d;
  border: none;


}
