.call-me {
  position: relative;
  padding: 15px 0;
  display: flex;
  order: 1;
  width: 100%;
 // background: $primary__black;
  &:before {
    position: absolute;
    content: "";
    width: 9999px;
    height: 80px;
    top: 0;
    left: -99px;
    background: #2c2c2c;
    z-index: -1;
  }

}

.call-me__icon {
  margin-right: 10px;
  height: 45px;
}

.call-me___wrapper {
  display: flex;

  &:hover .call-me__icon {
    transform: rotate(-20deg);
  }
}

.call-me__block {
  display: flex;
  flex-direction: column;
  width: 110px;
}

.call-me__phone {
  font-size: 24px;
  line-height: 24px;
  color: $primary__yellow;

  &:hover {
    color: #fff;
  }
}

.call-me__callback-toggle {
  color: #C7C7C7;
  border-bottom: 1px dashed;
  font-size: 11px;
  cursor: pointer;

  &:hover {
    color: #fff;
  }
}

@media (min-width: 768px) {
  .call-me {
 //   padding: 15px 40px;
  }
}

@media (min-width: 414px) {
  .call-me {
  //  padding-top: 30px;
  }
}
