.copyright {
  margin-bottom: 10px;
  align-self: center;
  text-align: center;
  line-height: 22px;
  width: 84%;
}

.copyright__oferta {
  padding: 0 40px;
  font-size: 12px;
  line-height: 14px;
}

.footer__nav {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;

  & li {
    margin-bottom: 5px;
    font-weight: bold;
    background: #eee;
  }

  & a {
    padding: 0 5px;
    color: $primary__black;

    &:hover {
      color: #fff;
      background: $primary__black;
    }
  }
}

@media (min-width: 414px) {
  .copyright {
    width: 100%;
  }
}
