* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: url('../img/backgrounds/bg-body.jpg');
  color: $primary__black;
  font-size: 18px;
  line-height: 22px;
}

header {
  padding: 20px 0 80px;
  width: 100%;
  background: $primary__black;
}

@media (min-width: 1000px) {
  header {
    position: fixed;
    padding: 5px 0;
    top: 0;
    z-index: 1002;
  }
}

.bg {
  background: #f9f9f9;
}

.phone-in-text {
  font-size: 34px;
  line-height: 36px;
  color: #4d4e53;
  font-family: 'VolvoBroadProDigital';
  letter-spacing: 2px;
}

@media (min-width: 768px) {
  .phone-in-text {
    &--block {
      display: inherit;
    }
  }
}

@media (min-width: 375px) {
  .phone-in-text {
    &--block {
      display: block;
    }
  }
}

h2  {
  margin: 0 0 20px;
  font-size: 40px;
  line-height: 33px;
  color: #4d4e53;
  font-family: 'VolvoBroadProDigital';
  text-transform: uppercase;
  letter-spacing: 2px;
  background: url('../img/backgrounds/h2_bg.svg') 14px 9px repeat-x;
  background-size: 8px;

  & span {
    padding-right: 11px;
    background: url('../img/backgrounds/bg-body.jpg');
  }
}

#me {
  position: fixed;
  z-index: 1000;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.link-tel {
  color: $primary__red;
  font-weight: bold;

  &--footer {
    padding-bottom: 20px;
    display: block;
    font-size: 20px;
    text-align: center;
  }
}

@font-face {
  font-family: 'MyriadProCond';
  src: url('../fonts/MyriadProCond.eot');
  src: url('../fonts/MyriadProCond.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadProCond.woff') format('woff'),
  url('../fonts/MyriadProCond.ttf') format('truetype'),
  url('../fonts/MyriadProCond.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadProCond';
  src: url('../fonts/MyriadProCondIt.eot');
  src: url('../fonts/MyriadProCondIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadProCondIt.woff') format('woff'),
  url('../fonts/MyriadProCondIt.ttf') format('truetype'),
  url('../fonts/MyriadProCondIt.svg') format('svg');
  font-weight: 400;
  font-style:  italic;
}

@font-face {
  font-family: 'MyriadProCond';
  src: url('../fonts/MyriadProSemiboldCond.eot');
  src: url('../fonts/MyriadProSemiboldCond.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadProSemiboldCond.woff') format('woff'),
  url('../fonts/MyriadProSemiboldCond.ttf') format('truetype'),
  url('../fonts/MyriadProSemiboldCond.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadProCond';
  src: url('../fonts/MyriadProBoldCond.eot');
  src: url('../fonts/MyriadProBoldCond.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadProBoldCond.woff') format('woff'),
  url('../fonts/MyriadProBoldCond.ttf') format('truetype'),
  url('../fonts/MyriadProBoldCond.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadProCond';
  src: url('../fonts/MyriadProCondIt.eot');
  src: url('../fonts/MyriadProCondIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadProCondIt.woff') format('woff'),
  url('../fonts/MyriadProCondIt.ttf') format('truetype'),
  url('../fonts/MyriadProCondIt.svg') format('svg');
  font-weight: 700;
  font-style:  italic;
}

@font-face {
  font-family: 'VolvoBroadProDigital';
  src: url('../fonts/VolvoBroadProDigital-webfont.woff') format('woff');
}
