.main-menu {
  position: absolute;
  padding: 20px 0 0;
  top: 56px;
  width: 100%;
  order: 2;
  list-style: none;
  z-index: 999;

  & li {
    border: solid 1px #b4b4b4;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);

    &:hover {
      background: linear-gradient(to bottom, #ffffff 0%,#ececec 50%,#e0e0e0 50%,#f2f2f2 100%);
      border-left: solid 5px $primary__red;
    }

    &--fixed {
      position: fixed;
    }

    &:first-child {
      position: relative;
    }
  }

  & a {
    padding: 15px 0 15px 30px;
    display: block;
    font-size: 26px;
    font-family: VolvoBroadProDigital;
    letter-spacing: 1px;
    color: $primary__black;
    cursor: pointer;

    &:hover {
      color: $primary__red;
    }
  }
}

.menu-toggle {
  position: relative;
  top: 8px;
  width: 50px;
  height: 30px;
  border: none;
  background: url('../img/toggle-menu.svg') no-repeat center;
  z-index: 1001;

  &:hover {
    box-shadow: 0 0 10px rgba(221, 232, 220, 0.5);
    transform: scale(1.1);
  }
}

.assortment__list {
  list-style: none;

  & li {
    padding-bottom: 5px;
    cursor: pointer;
    border: none;
    background: none;
  }

  & a {
    padding: 5px 0 0 5px;
    font-size: 18px;

  }
}

@media (min-width: 1000px) {
  .menu-toggle {
    display: none;
  }

  .main-menu {
    padding: 0;
    position: initial;
    display: flex;
    text-transform: uppercase;

    & li {
      background: none;
      border: none;

      &:hover {
        background: none;
        border: none;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    & a {
      font-size: 34px;
      letter-spacing: 1px;
      color: #fff;
      cursor: pointer;

      &:hover {
        color: #fcd81d;
      }
    }
  }
}

@media (min-width: 1080px) {
  .main-menu {

    & a {
      padding: 15px 0 15px 30px;
    }
  }
}

@media (min-width: 1024px) {
  .main-menu {

    & a {
      padding: 15px 0 15px 20px;
    }
  }

  .assortment__list {
    display: none;
  }

  .technika:hover .assortment__list {
    position: absolute;
    padding-top: 26px;
    padding-left: 30px;
    display: block;
    width: 350px;

    & li {
      border: solid 1px #b4b4b4;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(243, 243, 243, 1) 50%, rgba(237, 237, 237, 1) 51%, rgba(255, 255, 255, 1) 100%);

      &:hover {
        background: linear-gradient(to bottom, #ffffff 0%, #ececec 50%, #e0e0e0 50%, #f2f2f2 100%);
        border-left: solid 5px $primary__red;

        & a {
          padding-left: 26px;
        }
      }

      & a {
        color: $primary__black;
        font-size: 22px;
      }
    }



  }


}

