.main-menu {
  position: relative;
  padding: 20px 0 0;
  order: 2;
  list-style: none;

  & li {
    padding: 15px 0 15px 30px;
    border: solid 1px #b4b4b4;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);

    &:hover {
      padding-left: 26px;
      background: linear-gradient(to bottom, #ffffff 0%,#ececec 50%,#e0e0e0 50%,#f2f2f2 100%);
      border-left: solid 5px #bd4932;
    }

    &:hover > a{
      color: #bd4932;
    }
  }

  & a {
    font: 22px/24px Cuprum;
    color: #333;
    cursor: pointer;

    &:hover {
      color: #bd4932;
    }
  }
}

.menu-toggle {
  position: absolute;
  top: 102px;
  right: 0;
  content: '';
  width: 50px;
  height: 30px;
  border: none;
  background: url('../img/toggle-menu.svg') no-repeat center;
}
