.main-menu {
  position: absolute;
  padding: 20px 0 0;
  top: 56px;
  left: 20px;
  width: 280px;
  order: 2;
  list-style: none;
  z-index: 999;

  & li {
  //  padding: 15px 0 15px 30px;
    border: solid 1px #b4b4b4;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);

    &:hover {
     // padding-left: 26px;
      background: linear-gradient(to bottom, #ffffff 0%,#ececec 50%,#e0e0e0 50%,#f2f2f2 100%);
      border-left: solid 5px $primary__red;
    }

    &:hover > a{
      color: $primary__red;
    }

    &--fixed {
      position: fixed;
    }
  }

  & a {
    padding: 15px 0 15px 30px;
    display: block;
    font: 22px/24px Cuprum;
    color: $primary__black;
    cursor: pointer;

    &:hover {
      color: $primary__red;
    }
  }
}

.menu-toggle {
  position: absolute;
  top: 22px;
  left: 234px;
  content: '';
  width: 50px;
  height: 30px;
  border: none;
  background: url('../img/toggle-menu.svg') no-repeat center;
  z-index: 1001;

  &:hover {
    box-shadow: 0 0 10px rgba(221, 232, 220, 0.5);
    transform: scale(1.1);
  }
}

#sub-menu {
  position: fixed;
  background: #313131;
  z-index: 1001;
}

@media (min-width: 768px) {
  .menu-toggle {
    left: 637px;
  }

  .main-menu {
    width: 410px;
    left: 179px;
  }
}

@media (min-width: 414px) {
  .menu-toggle {
    left: 319px;
  }

  .main-menu {
    left: 51px;
  }
}

@media (min-width: 375px) {
  .menu-toggle {
   left: 300px;
  }

  .main-menu {
    left: 50px;
  }
}
