#send-result,
#send-result__order,
#send-result__services {
  display: block;
  width: 100%;
  background: #DFF2BF url("../img/success.svg") no-repeat 15px;
  background-size: 20px;
}

.success-text {
  padding-left: 50px;
  line-height: 40px;
  color: #4F8A10;
}

@media (min-width: 768px) {
  #send-result,
  #send-result__order,
  #send-result__services {
    width: 85%;
  }

  .success-text {
    font-size: 26px;
    line-height: 60px;
  }
}
