#services {
  margin-bottom: 40px;
}

.services__item {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  box-shadow: -2px -2px #fff,
  2px  2px #d9d9d9;

}

.services__title {
  margin: 0;
  color: $primary__red;
  text-transform: uppercase;
}

.services__description {
  position: relative;
  padding: 20px 15px;

  & p {
    text-indent: 50px;
    font-size: 16px;
    line-height: 18px;
  }
}

.services__order {
  margin-top: 20px;
  margin-right: -2px;
  margin-bottom: 0;
  align-self: flex-end;
  font-size: 14px;
}

.services__img {
  padding-top: 4px;
  width: 100%;
}

.services__wrapper {

}

@media (min-width: 1366px) {
  .services__container-img {
    margin-right: 100px;
    width: 30%;
  }
}

@media (min-width: 1024px) {
  .services__description {

    & p {
      font-size: 18px;
      line-height: 22px;
    }
  }
}

@media (min-width: 769px) {

  .services__item {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .services__description {
    padding: 20px 0 0 15px;
    width: 51%;

    & p {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .services__container-img {
    margin-right: 50px;
    width: 38%;
  }

  .services__order {
    position: absolute;
    margin-top: 0;
    right: 2px;
  }
}

@media (min-width: 720px) {
  .services__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .services__item {
    width: 310px;
  }
}
