.social-messenger {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}

.social-messenger__link {
  margin-right: 20px;
  text-decoration: none;

  &:last-child {
    margin-right: 0;
  }
}

.social-messenger__img {
  width: 30px;
}

