// основные цвета
$primary__yellow: #fcd81d;
//$primary__red: #bd4932;
$primary__red: #de1b1b;
$primary__black: #2c2c2c;

// форма "перезвоните мне"
$form-callback__color: #7f8c8d;
$form-callback__color-body: #ecf0f1;
$form-callback__color-text: #ecf0f1;
$form-callback__input-shadow: 0 0 10px rgba(0,0,0,0.5);


