// основные цвета
$primary__yellow: #fcd81d;
$primary__red: #bd4932;
$primary__black: rgba(27, 27, 27, 0.9);






// форма "перезвоните мне"
$form-callback__color: #7f8c8d;
$form-callback__color-body: #ecf0f1;
$form-callback__color-text: #ecf0f1;
$form-callback__input-shadow: 0 0 10px rgba(0,0,0,0.5);


